---
layout: page
title: Projects
permalink: /projects/
---

<div class="projects">
  {% for project in site.projects %}
    <div class="project">

      <h1><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h1>
      {% if project.github %}<a href="{{project.github}}">{% endif %}
      <img src="{{ project.logo }}" style="float:left; width:150px; padding-right: 10px"></img>
      {% if project.github %}</a>{% endif %}
      <div class="entry">
        {{ project.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ project.url }}" class="button button-primary">Read More</a>
    </div>
  {% endfor %}
</div>
