---
layout: page
permalink: /projects/
---

<div class="projects">
  {% for project in site.projects %}
    <div class="project">

      <div class="logo-panel">
        {% if project.github %}<a href="{{project.github}}">{% endif %}
        <img src="{{ project.logo }}" class="project-logo"></img>
        {% if project.github %}</a>{% endif %}
      </div>
      <div class="excerpt-panel">
        <h1><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h1>
        <div class="entry">
          {{ project.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ project.url }}" class="button button-primary">Read More</a>
      </div>
    </div>
  {% endfor %}
</div>
